<%- include('../header'); %>
	<section id="questions" class="text-center">
		<header>
			<h1>Questions</h1>
		</header>
		<div id="round-nav" class="btn-toolbar mt-5" role="toolbar" aria-label="Toolbar with button groups">
			<!-- Create pending group -->
			<% const rounds = {}; %>
			
			<% Object.keys(questionsByRound).forEach(round => { %>
				<% let thisRoundStatus = "pending"; %>
				<% questionsByRound[round].forEach(function(question) { %>
					<!-- Check if the round contains any questions in the played state -->
					<% if (question.status === "played" && thisRoundStatus !== "in-progress") { thisRoundStatus = "played" } %>
					<% if (question.status === "in-progress") { thisRoundStatus = "in-progress" } %>
				<% }); %>

				<!-- Push the round number into the rounds[thisRoundStatus] -->
				<% if (rounds[thisRoundStatus]) { rounds[thisRoundStatus].push(round) } else { rounds[thisRoundStatus] = [round] } %>
			<% }); %>
				<!-- <script>console.log((<%- JSON.stringify(rounds) %>))</script> -->

			<!-- Create the buttons -->
			<div class="btn-group me-2" role="group" data-round-type="played" aria-label="Played rounds">
						<% if (rounds.played) { %>
						<% rounds.played.forEach(round => { %>
							<button type="button" class="btn btn-secondary round-selector" data-round="<%= round %>">Round <%= round %></button>
						<% }); %>
						<% } %>
					</div>
					<div class="btn-group me-2" role="group" data-round-type="in-progress" aria-label="Current round">
						<% if (rounds["in-progress"]) { %>
						<% rounds["in-progress"].forEach(round => { %>
							<button type="button" class="btn btn-success round-selector" data-round="<%= round %>">Round <%= round %></button>
						<% }); %>
						<% } %>
					</div>
					<div class="btn-group" role="group" data-round-type="pending" aria-label="Pending rounds">
						<% if (rounds.pending) { %>
						<% rounds.pending.forEach(round => { %>
							<button type="button" class="btn btn-primary round-selector" data-round="<%= round %>">Round <%= round %></button>
						<% }); %>
						<% } %>
					</div>
			</div>
				<% Object.keys(questionsByRound).forEach(round => { %>
		<section 
			class="cards mt-3 d-none round"
			data-round="<%- round %>"
			<% // Add data attributes for heading and subheading if they exist
			if (game.rounds[round-1]) {
				if (game.rounds[round-1].heading) { %> data-heading="<%- game.rounds[round-1].heading %>" <% }
				if (game.rounds[round-1].subheading) { %> data-subheading="<%- game.rounds[round-1].subheading %>" <% }
			} %>
			>
			<h3 class="text-start">Round <%- round %></h3>
			<div class="row row-cols-1 row-cols-md-4 g-4">
					<% questionsByRound[round].forEach(function(question) { %>
						<div class="col">
							<div class="card <% if (question.status == "in-progress") { %>bg-success<% } if (question.status == "played") { %>bg-secondary<% } %>" id="<%= question._id %>" <% if (question.status == "in-progress") { %>data-state="in-progress"<% } if (question.status == "played") { %>data-state="played"<% } if (question.status == "pending") { %>data-state="pending"<% } %>>
								<div class="card-body">
									<h5 class="card-title"><%= question.question %></h5>
									<p class="card-text answer">(<%= question.answer %>)</p>
									<form method="post" action="/admin/in-game" class="send-question">
										<input type="hidden" id="questionId" name="questionId" value="<%= question._id %>">
										<input type="hidden" id="roundNumber" name="roundNumber" value="<%= round %>">
										<input type="hidden" id="gameCode" name="gameCode" value="<%= question.game %>">
										<input type="hidden" id="sendQuestion" name="sendQuestion" value="<%= question.question %>">
										<button class="send-question btn btn-primary">Ask question</button>
									</form>
									<form method="post" action="/admin/in-game/fetch-answers" class="fetch-answers">
										<input type="hidden" id="questionId" name="questionId" value="<%= question._id %>">
										<button class="fetch-answers btn btn-danger">Fetch player answers</button>
									</form>
								</div>
							</div>
					</div>
					<% }); %>
			</section>
			<% }); %>
    </section>
	<div class="d-grid">
		<h4 class="mt-3">Round</h4>
		<div class="row">
			<div class="col-2 pe-0"><button id="previous-round" class="btn btn-primary w-100 h-100" type="button"><i class="fa-solid fa-arrow-left"></i> Previous round</button></div>
			<div class="col px-0">
				<button id="end-round" class="btn btn-danger w-100" type="button" data-game-code="<%= game.code %>"><i class="fa-solid fa-flag-checkered"></i> End round</button>
				<button id="restart-round" class="btn btn-danger w-100" type="button" data-game-code="<%= game.code %>"><i class="fa-solid fa-rotate-right"></i> Restart round</button>
			</div>
			<div class="col-2 ps-0"><button id="next-round" class="btn btn-primary w-100 h-100" type="button">Next round <i class="fa-solid fa-arrow-right"></i></button></div>
		</div>
	</div>
<hr class="my-5">
	<section class="mt-3">
		<h3>Current question:</h3>
		<h4 id="current-question"><%= (currentQuestion == "") ? "-None!-" : currentQuestion %></h4>
	</section>
	<hr class="my-5">
	<section id="admin-functions" class="mt-3 mb-5">
		<h3>Game admin</h3>
		<div class="d-grid">
			<h4>Contestant answers</h4>
			<div class="row">
				<% game.teams.forEach(team => { %>
					<div class="row text-center text-light admin-background">
						<h5 class="mt-1 mb-3 team-<%- team.id %>-name"><%- team.name %></h5>
						<% team.players.forEach(player => { %>

							<div class="col d-flex flex-column">
								<div class="row">
									<div class="col">
										<div class="d-flex align-items-center justify-content-center contestant-audit-header">
											<h6 class="mt-0 mb-1"><img src="<%- player.profileImageUrl %>" class="miniavatar d-none d-md-inline-block"> <%- player.displayName %></h6>
										</div>
										<img
											id="<%- player.twitchId %>-Answer"
											class="canvas-container w-100 border border-dark"
											src="data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAEAAAABCAIAAACQd1PeAAAAAXNSR0IArs4c6QAAAARnQU1BAACxjwv8YQUAAAAJcEhZcwAADsMAAA7DAcdvqGQAAAAMSURBVBhXY/j//z8ABf4C/qc1gYQAAAAASUVORK5CYII="
											style="height: auto;"
										>
									</div>
								</div>
								<div class="row">
									<form method="post" action="/admin/in-game/points" class="points-form">
										<input type="hidden" name="userId" value="<%- player.twitchId %>">
										<input type="hidden" name="teamId" value="<%- team._id %>">
										<input type="hidden" name="gameCode" value="<%= game.code %>">
										<input type="hidden" name="pointFormID" value="player-<%- player.twitchId %>-Points-Form">

										<div class="input-group mb-3" id="player-<%- player.twitchId %>-Points-Form">
											<input name="points" type="number" min="0" max="100" class="form-control text-center point-input" placeholder="How many points?" disabled>
											<button class="btn btn-primary" type="submit" disabled><i class="fa-solid fa-circle-plus"></i></button>
										</div>
									</form>

								</div>
							</div>

						<% }); %>
						<div class="col d-flex flex-column">
							<div class="row">
								<div class="col">
									<div class="d-flex align-items-center justify-content-center contestant-audit-header">
										<h6 class="chatlog mt-1 mb-0">Chat log</h6>
									</div>
									<div id="team-<%- team._id %>-chat" class="chat-message-container chat-log w-100 border border-dark">
										<ul class="chat-messages list-unstyled text-start"></ul>
									</div>
								</div>
							</div>
							<div class="row">
								<div class="input-group mb-3 admin-chat">
									<input class="form-control chat-message" placeholder="Message the team&hellip;">
									<input type="hidden" name="teamId" value="<%- team._id %>">
									<button class="btn btn-primary" name="send">Send </button>
									<button class="btn btn-danger" name="send-to-all">Send to all</button>
								</div>
							</div>
						</div>
					</div>
				<% }); %>
			</div>

			<h4 class="mt-3">Player controls</h4>
			<div class="row">
				<div class="col"><button id="lock-canvas" class="btn btn-danger w-100" type="button"><i class="fa-solid fa-lock"></i> Lock player canvases</button></div>
				<div class="col"><button id="unlock-canvas" class="btn btn-success w-100" type="button"><i class="fa-solid fa-unlock"></i> Unlock player canvases</button></div>
			</div>
			<div class="row">
				<div class="col"><button id="lock-submit-button" class="btn btn-danger w-100" type="button"><i class="fa-solid fa-lock"></i> Lock player submit buttons</button></div>
				<div class="col"><button id="unlock-submit-button" class="btn btn-success w-100" type="button"><i class="fa-solid fa-unlock"></i> Unlock player submit buttons</button></div>
			</div>

			<hr>
			<h4 class="mt-3">Debug</h4>
			<h5 class="mt-3">Interstitials</h5>
			<div class="row">
				<div class="col">
					<button id="interstitial-round-over" class="btn btn-primary w-100" type="button">Send "round over" interstitial</button>
				</div>
			</div>
			<div class="row">
				<div class="col">
					<input id="interstitial-heading" class="form-control" placeholder="Interstitial heading">
					<input id="interstitial-subheading" class="form-control" placeholder="Interstitial subheading">
				</div>
			</div>
			<div class="row">
				<div class="col">
					<button id="showInterstitial" class="btn btn-primary w-100" type="button">Show interstitial</button>
				</div>
				<div class="col">
					<button id="hideInterstitial" class="btn btn-danger w-100" type="button">Hide interstitial</button>
				</div>
			</div>
			<h5 class="mt-3">Logins</h5>
			<div class="row">
				<% game.teams.forEach(team => { %>
					<div class="col text-center">
						<h5 class="mt-1 mb-0 team-<%- team.id %>-name"><%- team.name %></h5>
						<% team.players.forEach(player => { %>
							<div class="col">
								<button class="btn btn-danger w-100 logout-button" type="button" data-game-code="<%= game.code %>" data-player-id="<%- player._id %>">
									<i class="fa-solid fa-right-from-bracket"></i> Log out <br>
									<%- player.displayName %>
								</button>
							</div>
						<% }); %>
					</div>
				<% }); %>
			</div>
			<button class="btn btn-danger logout-button" type="button" data-game-code="<%= game.code %>" data-player-id="all">DEBUG: Log out all players</button>

			<h5 class="mt-3">Questions</h5>
			<button id="reset-round-questions" class="btn btn-danger" type="button" data-game-code="<%= game.code %>">DEBUG: Set THIS ROUND'S questions to pending</button>
			<button id="reset-game-questions" class="btn btn-danger" type="button" data-game-code="<%= game.code %>">DEBUG: Set ALL questions to pending</button>

			<h5 class="mt-3">Game</h5>
			<button id="end-game" class="btn btn-danger" type="button" data-game-code="<%= game.code %>">DEBUG: Set entire game to pending</button>
		</div>
</section>

	<script src="/socket.io/socket.io.js"></script>
	<%- include('../helperFunctions'); %>
	<script>
		const allPlayerTwitchIds = <%- JSON.stringify(game.teams.flatMap(team => team.players.map(player => player.twitchId))); %>
		$("#interstitial-round-over").click(function() {
			socket.emit("show interstitial", true, "Round over!", " ");
		});
		$("#showInterstitial").click(function() {
			const heading = $("#interstitial-heading").val();
			let subheading = $("#interstitial-subheading").val();
			if (subheading == "") { subheading = " " }
			socket.emit("show interstitial", true, heading, subheading);
		});
		$("#hideInterstitial").click(function() {
			socket.emit("show interstitial", false);
		});
		// Listen out for chat message submissions
		$("button[name='send'], button[name='send-to-all']").click(function(e) {
			const chatMessage = $(this).closest('.admin-chat').find(".chat-message");
			const teamId = $(this).closest('.admin-chat').find('input[name="teamId"]').val();

			let adminUser = <%- JSON.stringify(user) %>;
			adminUser.inGame = "<%= game.code %>";

			// Bail out if we can't find necessary values
			if (!chatMessage.val() || !teamId) {return}

			// Find all team IDs
			const allTeamIds = [];
			const allTeamIdFields = $('.admin-chat input[name="teamId"]');
			allTeamIdFields.each((iterator, element) => {
				allTeamIds.push($(element).val());
			});

			// Determine where to send the message
			let target = teamId;
			if (e.target.name === "send-to-all") {
				if (confirm("Are you sure you want to send the following message to all teams?\n\n\"" + chatMessage.val() + "\"")) {
					target = allTeamIds;
				} else {
					return; // Bail out if the user doesn't want to send the message
				}
			}
			
			socket.emit('admin chat message', chatMessage.val(), adminUser, target);
			chatMessage.val("");
		});

		$("form.send-question").submit(function(e) {
			e.preventDefault();
			const questionId = $(this).find('input[name="questionId"]').val();
			const question = $(this).find('input[name="sendQuestion"]').val();
			// $.post('/debug', { questionId, question }, function(data) {
				// console.log({questionId, question});
			// });
		});

	// const socket = io();
	const socket = io({ query: { teamId: '<%= user.teamId %>' , role: '<%= user.role %>' } }); // Does enabling this break other features?
	// socket.emit('join room', 'admin');

	socket.on("update team name", (newTeamName, teamId) => {
		const teamNameElements = document.querySelectorAll(".team-" + teamId + "-name");
		teamNameElements.forEach((teamName) => {
			teamName.innerText = newTeamName;
		});
	});

	// Update player canvases
	socket.on('update canvas', (canvasData, userID) => {
		const targetCanvas = document.getElementById(userID + "-Answer");
		if (targetCanvas !== null) {
			targetCanvas.setAttribute("src", canvasData);
		}
	})

	// Update the question preview when it's set by the admin
	socket.on("next question", (question, questionId) => {
		updateQuestionPreview(question, questionId);
		resetPointForms();
		resetCanvases();
	});

	// Lock point form when another admin is modifying points
	socket.on('block points', (pointFormID, userID) => {
		if (userID !== "<%- user.twitchId %>") {
			disablePointForm(pointFormID, true);
		}
	})

	// Unlock point form when another admin is modifying points
	socket.on('unblock points', (pointFormID, userID) => {
		if (userID !== "<%- user.twitchId %>") {
			disablePointForm(pointFormID, false);
		}
	})

	// Update the point score for other players
	socket.on('update points', (pointFormID, points, userID) => {
		if (userID !== "<%- user.twitchId %>") {
			updatePointAmount(pointFormID, points);
		}
	})

	// Disable point input for other admins when in focus
	$(".point-input").on("focus", function(){
		const pointFormID = $(this).parent().attr("id");
		socket.emit('block points', pointFormID, "<%- user.twitchId %>");
	});

	$(".point-input").on("blur", function(){
		const pointFormID = $(this).parent().attr("id");
		socket.emit('unblock points', pointFormID, "<%- user.twitchId %>");
	});

	$(".point-input").on("input", function(){
		const pointFormID = $(this).parent().attr("id");
		const amount = $(this).val();

		socket.emit('update points', pointFormID, amount, "<%- user.twitchId %>");
	});

	<% if (team1Chatlog) { team1Chatlog.forEach((message) => { %> addChatMessage("#team-<%- game.teams[0].id %>-chat .chat-messages", "<%- message %>");	<% }); } %>
	<% if (team2Chatlog) { team2Chatlog.forEach((message) => { %> addChatMessage("#team-<%- game.teams[1].id %>-chat .chat-messages", "<%- message %>");	<% }); } %>
	<% if (team3Chatlog) { team3Chatlog.forEach((message) => { %> addChatMessage("#team-<%- game.teams[2].id %>-chat .chat-messages", "<%- message %>");	<% }); } %>

	socket.on('chat message', (msg, room) => {
		addChatMessage("#team-" + room + "-chat .chat-messages", msg);
	});

	// Update the inputs when points are successfully added.
	socket.on('points added', (pointFormID) => {
		markAsPointsAdded(pointFormID);
		disablePointForm(pointFormID, true);
	});

	function restartAnimation() {
		let circle = document.querySelector(".question");

		circle.style.animationName = "none";

		requestAnimationFrame(() => {
			setTimeout(() => {
				circle.style.animationName = ""
			}, 0);
		});
	}

	</script>
<script src="/js/adminPanelHandler.js"></script>
<%- include('../footer'); %>