<%- include('../header'); %>
	<section id="questions" class="text-center">
		<header>
			<h1>Questions</h1>
		</header>
		<section class="cards mt-5">
			<% Object.keys(questionsByRound).forEach(round => { %>
				<h3 class="text-start">Round <%- round %></h3>
			<div class="row row-cols-1 row-cols-md-4 g-4">
					<% questionsByRound[round].forEach(function(question) { %>
						<div class="col">
							<div class="card <% if (question.status == "in-progress") { %>bg-success<% } if (question.status == "played") { %>bg-secondary<% } %>" id="<%= question._id %>">
								<div class="card-body">
									<h5 class="card-title"><%= question.question %></h5>
									<p class="card-text answer">(<%= question.answer %>)</p>
									<form method="post" action="/admin/in-game" class="debug-question">
										<input type="hidden" id="questionId" name="questionId" value="<%= question._id %>">
										<input type="hidden" id="gameCode" name="gameCode" value="<%= question.game %>">
										<input type="hidden" id="sendQuestion" name="sendQuestion" value="<%= question.question %>">
										<!-- <span class="send-question"><input type="submit" class="btn btn-primary" value="Send question"></span> -->
										<button class="send-question btn btn-primary" <% if (question.status == "played") { %>disabled<% } %>>Send question</button>
									</form>
								</div>
							</div>
					</div>
					<% }); %>
				</div>
				<% }); %>
		</section>
    </section>

	<script src="/socket.io/socket.io.js"></script>
	<script>
		$("form.debug-question").submit(function(e) {
			e.preventDefault();
			const questionId = $(this).find('input[name="questionId"]').val();
			const question = $(this).find('input[name="sendQuestion"]').val();
			// $.post('/debug', { questionId, question }, function(data) {
				console.log({questionId, question});
			// });
		});

	const socket = io();

	socket.on('chat message', (msg) => {
		const item = document.createElement('li');
		item.innerHTML = msg;
		document.querySelector("h2").appendChild(item);
		window.scrollTo(0, document.body.scrollHeight);
	});

	socket.on('next question'), (question) => {
		document.getElementById('answer').value = '';
		document.getElementById('teammateAnswer').value = '';
		document.querySelector('h2').innerHTML = question;
		restartAnimation();
	}

	function restartAnimation() {
		let circle = document.querySelector(".question");

		circle.style.animationName = "none";

		requestAnimationFrame(() => {
			setTimeout(() => {
				circle.style.animationName = ""
			}, 0);
		});
	}

	</script>
<script src="/js/adminPanelHandler.js"></script>
<%- include('../footer'); %>