<%- include('header'); %>
	<section id="admin" class="text-center">
		<header>
			<h1>Admin panel</h1>
		</header>
		<% if (failureMessage) { %>
			<div class="container">
				<section>
					<div class="alert alert-danger" role="alert"><%= failureMessage %></div>
				</section>
			</div>
		<% } if (successMessage) { %>
			<div class="container">
				<section>
					<div class="alert alert-success" role="alert"><%= successMessage %></div>
				</section>
			</div>
		<% } %>
		<% if(user.role == "admin"){ %>
			<div class="d-grid gap-2 col-6 mx-auto">
				<% if (typeof game !== 'undefined' && game.status === "in-progress") { %>
					<a class="btn btn-success" role="button" href="admin/in-game">Administrate current game (<%- game.code -%>)</a>
					<% } else { %>
					<a class="btn btn-success" role="button" href="admin/startGame">Start game</a>
				<% } %>
				<a class="btn btn-primary" role="button" href="admin/gameManagement">Create/manage games</a>
				<a class="btn btn-primary" role="button" href="admin/teams">Team management</a>
				<a class="btn btn-primary" role="button" href="admin/users">User management</a>
				<a class="btn btn-info" role="button" href="debug">Go to debug menu</a>
			</div>
		<% } else { %>
			<h1 class="text-danger">You should not be here!</h1>
		<% } %>
	</section>
	<script src="js/ajaxFormHandler.js"></script>
<%- include('footer'); %>
