<%- include('header'); %>
	<section id="game-management" class="text-center">
		<header>
			<h1>Game Management - <%- game.code %></h1>
		</header>
		<% if(user.role == "admin"){ %>
			<% if (failureMessage.length > 0) { %>
				<div class="container">
					<section>
						<div class="alert alert-danger" role="alert">The following errors occurred:
							<ul>
								<% failureMessage.forEach(function(msg) { %>
									<li><%- msg %></li>
								<% }) %>
							</ul>
						</div>
					</section>
				</div>
			<% } if (successMessage) { %>
				<div class="container">
					<section>
						<div class="alert alert-success" role="alert"><%= successMessage %></div>
					</section>
				</div>
			<% } %>
			<%- include('forms/newQuestion'); %>
		<% } else { %>
			<h1 class="text-danger">You should not be here!</h1>
		<% } %>
	</section>
	<script src="/js/gameTableFormHandler.js"></script>
	<script src="/js/ajaxFormHandler.js"></script>
<%- include('footer'); %>


