<%- include('header'); %>
	<section id="game-management" class="text-center">
		<header>
			<h1>Game Management - <%- game.code %></h1>
		</header>
		<% if(user.role == "admin"){ %>
			<% if (failureMessage.length > 0) { %>
				<div class="container">
					<section>
						<div class="alert alert-danger" role="alert">The following errors occurred:
							<ul>
								<% failureMessage.forEach(function(msg) { %>
									<li><%- msg %></li>
								<% }) %>
							</ul>
						</div>
					</section>
				</div>
			<% } if (successMessage) { %>
				<div class="container">
					<section>
						<div class="alert alert-success" role="alert"><%= successMessage %></div>
					</section>
				</div>
			<% } %>
			<%- include('forms/newQuestion'); %>
			<hr>
			<section id="game-questions">
				<h2 class="text-start">Questions</h2>
				<% if (Object.keys(questionsByRound).length !== 0) { %>
					<% Object.keys(questionsByRound).forEach(round => { %>
					<h3 class="text-start">Round <%= round %></h3>
					<table class="table table-striped table-hover question-info">
						<thead>
							<tr>
								<th scope="col">Question</th>
								<th scope="col">Answer</th>
								<th scope="col">Status</th>
								<th scope="col">Type</th>
								<th scope="col">Order</th>
							</tr>
						</thead>
						<tbody>
							<% questionsByRound[round].forEach(function(currentQuestion) { %>
								<tr>
									<th class="question"><%- currentQuestion.question %></th>
									<td><%- currentQuestion.answer %></td>
									<td><%- currentQuestion.status %></td>
									<td><%- currentQuestion.type %></td>
									<td><form method="post" class="question-up" action="/admin/gameManagement/<%- game.code %>/moveQuestion">
										<input type="hidden" name="direction" value="up">
										<input type="hidden" name="questionId" value="<%- currentQuestion._id %>">
										<button type="button" class="btn btn-secondary btn-tiny move-up">▲</button></form>
										<span class="order"><%- currentQuestion.order %></span> <form method="post" class="question-down" action="/admin/gameManagement/<%- game.code %>/moveQuestion">
											<input type="hidden" name="direction" value="down">
											<input type="hidden" name="questionId" value="<%- currentQuestion._id %>"><button type="button" class="btn btn-secondary btn-tiny move-down">▼</button></form></td>
								</tr>
							<% }); %>
						</tbody>
					</table>
					<% }); %>
			<% } else { %>
				<h3 class="no-content">There are no questions for this game!</h3>
			<% } %>
			</section>
		<% } else { %>
			<h1 class="text-danger">You should not be here!</h1>
		<% } %>
	</section>
	<div id="live-toast-container" class="toast-container position-fixed top-50 start-50 translate-middle p-3">
	  <div id="live-toast" class="toast" role="alert" aria-live="assertive" aria-atomic="true">
		<div class="toast-header d-none">
		  <strong class="me-auto toast-title"></strong>
		  <button type="button" class="btn-close" data-bs-dismiss="toast" aria-label="Close"></button>
		</div>
		<div class="toast-body d-flex justify-content-between align-items-center" style="margin-bottom: -5px;"">
			<div class="message-content"></div>
			<button type="button" class="btn-close" data-bs-dismiss="toast" aria-label="Close"></button>
		  </div>
		  <div class="toast-progress"></div>
		</div>
	</div>
	<button onclick="showToast()">Click me</button>
		<script src="/js/toasts.js"></script>
	<script src="/js/questionTableHandler.js"></script>
	<script src="/js/ajaxFormHandler.js"></script>
<%- include('footer'); %>


