<%- include('header'); %>
	<section id="game-management" class="text-center">
		<header>
			<h1>Game: <%- game.code %></h1>
		</header>
		<% if(user.role == "admin"){ %>
			<% if (failureMessage) { %>
				<div class="container">
					<section>
						<div class="alert alert-danger" role="alert"><%= failureMessage %></div>
					</section>
				</div>
			<% } if (successMessage) { %>
				<div class="container">
					<section>
						<div class="alert alert-success" role="alert"><%= successMessage %></div>
					</section>
				</div>
			<% } %>

			<div class="row">
				
					<% game.teams.forEach(function(team) { %>
					<div class="col">
						<div class="row">
							<h2><%- team.name %></h2>
						<% team.players.forEach(function(player) { %>
							<div class="col">
								<img id="<%- player.displayName %>-thumbnail" class="player-icon player-logged-out" src="<%- player.profileImageUrl %>" width="100">
								<p><%- player.displayName %></p>
							</div>
						<% }) %>
						</div>
					</div>
					<!-- <img class="player-logged-out" src="https://res.cloudinary.com/demo/image/upload/w_100,h_100,c_fill/sample.jpg">
					<img class="player-logged-out" src="https://res.cloudinary.com/demo/image/upload/w_100,h_100,c_fill/sample.jpg"> -->
					<% }) %>
				
			</div>
			<div class="row mt-3">
				<button class="btn btn-large btn-twitch btn-block">START GAME!</button>
			</div>
		<% } else { %>
			<h1 class="text-danger">You should not be here!</h1>
		<% } %>
	</section>
	<script src="/js/gameTableFormHandler.js"></script>
<%- include('footer'); %>


