<%- include('header'); %>
	<section id="game-management" class="text-center">
		<header>
			<h1>Game Management - <%- game.code %></h1>
		</header>
		<% if(user.role == "admin"){ %>
			<% if (failureMessage.length > 0) { %>
				<div class="container">
					<section>
						<div class="alert alert-danger" role="alert">The following errors occurred:
							<ul>
								<% failureMessage.forEach(function(msg) { %>
									<li><%- msg %></li>
								<% }) %>
							</ul>
						</div>
					</section>
				</div>
			<% } if (successMessage) { %>
				<div class="container">
					<section>
						<div class="alert alert-success" role="alert"><%= successMessage %></div>
					</section>
				</div>
			<% } %>
			<%- include('forms/newQuestion'); %>
			<hr>
			<section id="game-questions">
				<h2 class="text-start">Questions</h2>
				<% if (Object.keys(questionsByRound).length !== 0) { %>
					<% Object.keys(questionsByRound).forEach(round => { %>
					<h3 class="text-start">Round <%= round %></h3>
					<table class="table table-striped table-hover question-info">
						<thead>
							<tr>
								<th scope="col">Question</th>
								<th scope="col">Answer</th>
								<th scope="col">Status</th>
								<th scope="col">Type</th>
								<th scope="col">Order</th>
							</tr>
						</thead>
						<tbody>
							<% questionsByRound[round].forEach(function(currentQuestion) { %>
								<tr>
									<th class="question"><%- currentQuestion.question %></th>
									<td><%- currentQuestion.answer %></td>
									<td><%- currentQuestion.status %></td>
									<td><%- currentQuestion.type %></td>
									<td><button type="button" class="btn btn-secondary btn-tiny move-up">▲</button>
										<span class="order"><%- currentQuestion.order %></span> <button type="button" class="btn btn-secondary btn-tiny move-down">▼</button></td>
								</tr>
							<% }); %>
						</tbody>
					</table>
					<% }); %>
			<% } else { %>
				<h3 class="no-content">There are no questions for this game!</h3>
			<% } %>
			</section>
		<% } else { %>
			<h1 class="text-danger">You should not be here!</h1>
		<% } %>
	</section>
	<script src="/js/questionTableHandler.js"></script>
	<script src="/js/ajaxFormHandler.js"></script>
<%- include('footer'); %>


