<%- include('header'); %>
    <section id="login" class="text-center">
        <header>
            <h1>Welcome back, <%= user.displayName %></h1>
        </header>
		<section>
            <img src="<%= user.profileImageUrl %>" />
			<h6>Games played: 5</h6>
			<h6>Wins: 5</h6>
			<h6>Last game played:</h6>
		</section>
        <h1 class="mt-5">Join a game</h1>
        <section class="d-grid gap-2 col-6 mx-auto">
            <form action="/game/join" method="post">
                <div class="form-group">
                    <input type="text" class="form-control form-control-lg" id="gameCode" name="gameCode" placeholder="Enter game code" maxlength="4" pattern="[A-Za-z]{4}" required autofocus>
                </div>
                <button type="submit" class="btn btn-primary">Join game</button>
            </form>
        </section>
        <section class="mt-5">
            <pre><%= JSON.stringify(user, null, 2) %></pre>
        </section>
        <footer style="margin-top: 10em;">
            <h6>Made by <a href="https://www.twitch.tv/dannyvalz" target="_blank">Danny Valentine <img width="16" height="16" src="https://twitch.tv/favicon.ico"></a></h6>
        </footer>
    </section>
<%- include('footer'); %>
