<%- include('../header'); %>
    <section id="game" class="text-center">
        <header>
            <h1>Waiting for game to begin</h1>
        </header>
		<% if (failureMessage) { %>
			<div class="container">
				<section>
					<div class="alert alert-danger" role="alert"><%= failureMessage %></div>
				</section>
			</div>
		<% } if (successMessage) { %>
			<div class="container">
				<section>
					<div class="alert alert-success" role="alert"><%= successMessage %></div>
				</section>
			</div>
		<% } %>
		<section>
			<h2><span class="live-players">1</span> of 6 players ready</h2>
		</section>
		<hr>
		<section>
			<h2>Your teammate is:</h2>
			<div class="row">
				<div class="col">
					<figure>
						<img id="<%- user.teammate.displayName %>-thumbnail"
						class="player-icon <% if (user.teammate.inGame === game.code) { %>player-logged-in<% } else { %>player-logged-out<% } %>" src="<%- user.teammate.profileImageUrl %>" width="100" alt="<%- user.teammate.displayName %>'s thumbnail">
						
						<figcaption><%- user.teammate.displayName %></figcaption>
					</figure>
				</div>
			</div>
		</section>
		<hr>
		<section>
			<form id="form" action="">
				<input id="input" autocomplete="off" /><button>Send</button>
			</form>
			<ul id="messages"></ul>
			<script>
			const form = document.getElementById('form');
			const input = document.getElementById('input');
			const messages = document.getElementById('messages');

			form.addEventListener('submit', (e) => {
				e.preventDefault();
				if (input.value) {
					socket.emit('chat message', input.value, <%- JSON.stringify(user) %>);
					input.value = '';
				}
			});

			</script>
		</section>
		<footer style="margin-top: 10em;">
            <h6>Made by <a href="https://www.twitch.tv/dannyvalz" target="_blank">Danny Valentine <img width="16" height="16" src="https://twitch.tv/favicon.ico"></a></h6>
        </footer>
    </section>
	<script src="/socket.io/socket.io.js"></script>
	<script>
	// Make sure .live-players accurately reflects the number of players waiting for the game to start
	setLivePlayersSpan(<%- JSON.stringify(game) %>);

	function setLivePlayersSpan(game) {
		let totalLivePlayers = 0;

		game.teams.forEach(team => {
			team.players.forEach(player => {
				if (player.inGame === game.code) {
					totalLivePlayers++;
				}
			});
		});

		const livePlayerSpan = document.querySelector(".live-players");
		livePlayerSpan.innerHTML = totalLivePlayers;
	}

	const socket = io({ query: { teamId: '<%= user.teamId %>' , role: '<%= user.role %>' } });

	socket.on('chat message', (msg) => {
		const item = document.createElement('li');
		item.innerHTML = msg;
		document.querySelector("#messages").appendChild(item);
		// document.querySelector("h2").appendChild(item);
		// window.scrollTo(0, document.body.scrollHeight);
	});

	socket.on('player joined', (gameCode, user) => {
		if (gameCode === "<%- game.code %>") {
			const livePlayerCount = document.querySelector(".live-players");
			livePlayerCount.innerHTML = parseInt(livePlayerCount.innerHTML) + 1;

			// Check if recently joined player is your teammate
			if (user.twitchId === "<%- user.teammate.twitchId %>") {
				const playerIcon = document.getElementById(user.displayName + "-thumbnail");
				playerIcon.classList.remove("player-logged-out");
				playerIcon.classList.add("player-logged-in");
			}
		}
	});

	socket.on('player left', (gameCode, user) => {
		if (gameCode === "<%- game.code %>") {
			const livePlayerCount = document.querySelector(".live-players");
			livePlayerCount.innerHTML = parseInt(livePlayerCount.innerHTML) - 1;

			// Check if recently left player is your teammate
			if (user.twitchId === "<%- user.teammate.twitchId %>") {
				const playerIcon = document.getElementById(user.displayName + "-thumbnail");
				playerIcon.classList.remove("player-logged-in");
				playerIcon.classList.add("player-logged-out");
			}
		}
	});

	socket.on('start game', (gameCode) => {
		if (gameCode === "<%- game.code %>") {
			window.location.replace("/game/in-game");
		}
	});
	</script>
	<!-- <script src="js/ajaxFormHandler.js"></script> -->
<%- include('../footer'); %>