<%- include('../header'); %>
<%
for (let i = 0; i < game.teams.length; i++) {
	if (game.teams[i].players.length > 0) {
		for (let j = 0; j < game.teams[i].players.length; j++) {
			if (game.teams[i].players[j].twitchId === user.twitchId) {
				user.teammate = game.teams[i].players[j == 0 ? 1 : 0];
			}
		}
	}
}
%>
	<video
		autoplay
		muted
		loop
		id="ingame-background"
		class="team-<%- user.teamIndex %>"
		>
		<source src="https://assets.danny-valentine.com/video/upload/h_1080,e_accelerate:-50/q_auto,f_auto/BigFatTwitch/anibak.mov">
	</video>
	<section id="game" class="text-center">
        <header>
            <h1 class="text-light">Waiting for game to begin</h1>
        </header>
		<% if (failureMessage) { %>
			<div class="container">
				<section>
					<div class="alert alert-danger" role="alert"><%= failureMessage %></div>
				</section>
			</div>
		<% } if (successMessage) { %>
			<div class="container">
				<section>
					<div class="alert alert-success" role="alert"><%= successMessage %></div>
				</section>
			</div>
		<% } %>
		<hr>
		<div class="container-fluid">
			<div class="row">
				<div class="col-lg-10">
					<div class="row">
						<section id="player-cards">
							<div class="row">
								<div class="col bg-white border border-dark ingame-border m-3 pt-3 pb-2">
									<div class="row">
										<div class="col d-flex align-items-center">
											<img class="<%- user.displayName %>-thumbnail player-icon <% if (user.inGame === game.code) { %>player-logged-in<% } else { %>player-logged-out<% } %>" src="<%- user.profileImageUrl %>" width="100" alt="<%- user.displayName %>'s thumbnail">
											<h3 class="ms-3 mb-0"><%- user.displayName %></h3>
										</div>
									</div>
									<div class="row text-start mt-3">
										<p><%- user.bio %></p>
									</div>
								</div>
								<div class="col bg-white border border-dark ingame-border m-3 pt-3 pb-2">
									<div class="row">
										<div class="col d-flex align-items-center">
											<img class="<%- user.teammate.displayName %>-thumbnail player-icon <% if (user.teammate.inGame === game.code) { %>player-logged-in<% } else { %>player-logged-out<% } %>" src="<%- user.teammate.profileImageUrl %>" width="100" alt="<%- user.teammate.displayName %>'s thumbnail">
											<h3 class="ms-3 mb-0"><%- user.teammate.displayName %></h3>
										</div>
									</div>
									<div class="row text-start mt-3">
										<p><%- user.teammate.bio %></p>
									</div>
								</div>
							</div>
						</section>
					</div>
					<div class="row">
						<section>
							<h3 class="text-start text-light mt-4">Team chat</h3>
							<div class="row">
								<div class="col bg-white border border-dark ingame-border m-3 mt-0 pt-3 pb-2 chat-message-container chat-log w-100 text-start">
									<ul class="chat-messages list-unstyled"></ul>
								</div>
							</div>
						</section>
					</div>
					<div class="row">
						<section>
							<form id="form">
								<div class="row mt-2">
									<div class="col-10">
										<input id="input" type="text" class="in-game form-control" placeholder="Type a message..." autocomplete="off" autofocus>
									</div>
									<div class="col-2">
										<button class="btn btn-secondary in-game w-100" type="submit">Send message <i class="fa-solid fa-paper-plane ps-2"></i></button>
									</div>
								</div>
							</form>
						</section>
					</div>
				</div>
				<div class="col-lg-2 bg-white border border-dark ingame-border mt-3 pt-3 pb-2 d-flex justify-content-center align-items-center">
					<div class="row">
						<div id="player-login-statuses" class="col">
							<% game.teams.forEach(team => { %>
								<div class="row">
									<h4 class="<% if (team !== game.teams[0]) { %>mt-3<% } %>"><span id="team-<%- team.id %>-name"><%- team.name %><% if (team.id === user.teamId) { %></span><i id="edit-team-name-button" class="fa-solid fa-pencil fa-2xs ms-2"></i><% } %> </h4>
									<% team.players.forEach(player => { %>
										<h5 class="d-flex justify-content-center align-items-center">
											<img src="<%- player.profileImageUrl %>" width="40" height="40" class="<%- player.displayName %>-thumbnail player-icon <% if (player.inGame) { %>player-logged-in<% } else { %>player-logged-out<% } %> me-1"> 
											<%- player.displayName %>
										</h5>
									<% }); %>
								</div>
							<% }); %>
							<div class="row mt-5">
								<!-- <h3 class="mt-5">Live players: <span class="live-players"><%- game.teams[0].players.length + game.teams[1].players.length %></span></h3> -->
								<h4><span class="live-players">1</span> of 6 players ready</h4>
							</div>
						</div>
					</div>
				</div>
			</div>
			<div class="row text-light bg-dark my-5">
				<section>
					<div id="quoteCarousel" class="carousel slide" data-bs-ride="carousel" data-bs-interval="10000">
						<div class="carousel-inner py-3"></div>
					</div>
				</section>
			</div>
		</div>
	</section>
	<!-- Modal -->
	<div class="modal fade" id="teamNameModal" tabindex="-1">
		<div class="modal-dialog modal-dialog-centered">
			<div class="modal-content">
				<div class="modal-header">
					<h1 class="modal-title fs-5">Set team name</h1>
					<button type="button" class="btn-close" data-bs-dismiss="modal"></button>
				</div>
				<form id="team-name-form">
					<div class="modal-body">
						<div class="mb-3">
							<input
								type="text"
								class="form-control"
								id="new-team-name"
								value="<%- user.teamName %>"
								placeholder="Enter team name"
								autocomplete="off"
								<!-- maxlength="50" -->
								<!-- pattern="[a-zA-Z0-9\s&\-!?\x22x27]*" -->
								<div class="invalid-feedback"></div>
						</div>
					</div>
					<div class="modal-footer">
						<button type="button" class="btn btn-danger" data-bs-dismiss="modal">Dismiss</button>
						<button type="submit" class="btn btn-primary">Save changes</button>
					</div>
				</form>
			</div>
		</div>
	</div>
		
	<script>
		const editTeamNameButton = document.getElementById('edit-team-name-button');
		const teamNameElement = document.getElementById('team-<%- user.teamId %>-name');
		const newTeamNameInput = document.getElementById('new-team-name');

		editTeamNameButton.addEventListener('click', () => {
			// Make sure team name is not being edited by the teammate
			if (editTeamNameButton.classList.contains('text-danger')) {return}

			socket.emit("editing team name", "<%- user.teamId %>", true);
			newTeamNameInput.value = teamNameElement.innerText;
			const teamNameModal = new bootstrap.Modal(document.getElementById('teamNameModal'));
			const myInput = document.getElementById('new-team-name')
			teamNameModal.show();
		});
		editTeamNameButton.addEventListener('mouseover', () => {
			editTeamNameButton.classList.add('text-success');
			editTeamNameButton.style.cursor = 'pointer';
		});

		editTeamNameButton.addEventListener('mouseout', () => {
			editTeamNameButton.classList.remove('text-success');
		});

		teamNameModal.addEventListener('shown.bs.modal', () => {
			newTeamNameInput.focus();
		})
		teamNameModal.addEventListener('hidden.bs.modal', () => {
			newTeamNameInput.classList.remove('is-invalid');
			socket.emit("editing team name", "<%- user.teamId %>", false);
		});

		function setValidationFeedback(feedback) {
			const invalidFeedback = document.querySelector('.invalid-feedback');
			invalidFeedback.innerText = feedback;
			newTeamNameInput.classList.add('is-invalid');
		}

		const teamNameForm = document.getElementById('team-name-form');
		teamNameForm.addEventListener('submit', (e) => {
			
			e.preventDefault();
			const newTeamName = newTeamNameInput.value;
			const invalidFeedback = document.querySelector('.invalid-feedback');
			const regex = /^[a-zA-Z0-9\s&\-!?\x22\x27]*$/;

			if (newTeamName.length > 50) {
				newTeamNameInput.classList.add('is-invalid');
				invalidFeedback.innerText = 'Team name must be 50 characters or less.';
				return;
			}
			if (!regex.test(newTeamName)) {
				return setValidationFeedback('Team name can only contain letters, numbers, spaces, and the following characters: & - ! ? " \'');
			}
			if (newTeamName.length < 1) {
				newTeamNameInput.classList.add('is-invalid');
				invalidFeedback.innerText = 'Please enter a team name.';
				return;
			}

			socket.emit('change team name', newTeamName, "<%- user.teamId %>", "<%- game.code %>");
			const teamNameModal = bootstrap.Modal.getInstance(document.getElementById('teamNameModal'));
			teamNameModal.hide();
		});

		function shuffleArray (array)  { 
			for (let i = array.length - 1; i > 0; i--) { 
				const j = Math.floor(Math.random() * (i + 1)); 
				[array[i], array[j]] = [array[j], array[i]]; 
			} 
			return array; 
		}; 
		// Rotating tips
		const tips = [
		"Pro tip: Always trust your teammate&hellip; unless it's about 90s boy bands.",
		"Trivia fact: Honey never spoils. Just like your competitive spirit.",
		"Loading&hellip; Just like your internet connection.",
		"Tip: Reading the question out loud increases your IQ by exactly 0.0003%.",
		"Did you know? Cows have best friends. But they won't help you with trivia.",
		"Fun fact: This took about a billion hours to make.",
		"Did you know? Penguins propose to their mates with a pebble.",
		"Pro tip: When in doubt, answer \"42\". It's worked before.",
		"Tip: Trivia games improve memory. Or was it juggling? I forget.",
		"Fact: Bananas are berries. Strawberries aren't. Don't question it.",
		"Fact: 100% of trivia champions blink. Coincidence? Definitely.",
		"Trivia: Napoleon was once attacked by a horde of bunnies. True story.",
		"Tip: Teamwork makes the dream answers work.",
		"Fun fact: The longest word in the English language is 189,819 letters long. But you won't need it here.",
		"Did you know? Octopuses have three hearts. But only one brain.",
		"Quote: \"It's not a wrong answer, it's an alternative perspective.\"",
		"Tip: If you're unsure, confidently say the wrong answer. It's tradition.",
		"Fact: The mitochondrion is the powerhouse of the cell. Always will be.",
		"Tip: Take a deep breath. The questions are more afraid of you than you are of them.",
		"Loading tip: This space intentionally filled with nonsense.",
		"Tip: The real treasure was the incorrect answers we made along the way.",
		"Quote: \"Think fast. Answer faster. Regret slowly.\"",
		"Tip: Hydrate before you participate.",
		"Pro tip: Incorrect answers said with confidence become legendary.",
		"Tip: Trivia is 10% knowledge, 90% wild guesses.",
		"Quote: \"The only dumb question is the one you knew and still second-guessed.\"",
		"Did you know? Cows have best friends. Be a cow. Support your teammate.",
		"Quote: \"There are no wrong answers. Except that one. Definitely that one.\"",
		"Fun fact: An octopus has three hearts. Use at least one to care about winning.",
		"Tip: Never underestimate the power of random guess energy.",
		"Quote: \"Victory favors the fast-fingered.\"",
		"Trivia: The inventor of Pringles is buried in a Pringles can. You're welcome.",
		"Tip: Turn off your brain's autopilot. This is manual mode.",
		"Pro tip: If everyone's confused, you're probably on the right track.",
		"Fact: You blink less when focused. Congrats, you're now officially intense.",
		"Fun fact: There's no \"I\" in team. But there is in \"trivia.\"",
		"Loading tip: No neurons were harmed during the making of this trivia.",
		"Fun fact: The Konami Code doesn't work here. We tried. Twice.",
		"Pro tip: Twitch chat knows the answer. Too bad they're just typing \"KEKW.\"",
		"Trivia: Donald Trump once said he was a \"stable genius.\" He then misspelled \"hamburger.\"",
		"Tip: Want to win? Treat your teammate like a loot drop. Valuable and never to be left behind.",
		"Fact: Donald Trump once suggested nuking hurricanes. So yes, your answer could be worse.",
		"Tip: Your K/D ratio doesn't matter here. But your IQ/D ratio might.",
		"Tip: Use your gamer headset mic to communicate, not chew on.",
		"Pro tip: Make eye contact with the camera. The viewers can smell fear.",
		"Tip: A true gamer never blames their teammate... Unless chat agrees.",
		"Quote: \"It's not a rage quit. It's an emotionally tactical disconnect.\"",
		"Quote: \"No matter how dumb you feel, someone on Twitter is dumber.\"",
		"Tip: Got the question wrong? Just gaslight your teammate.",
		"Quote: \"Your brain's on cooldown. Try not to overheat what's left.\"",
		"Sponsored by G-Fail™: The gamer supplement that does absolutely nothing.",
		"<%- user.teammate.displayName %> has 42 tabs open. None of them are helpful.",
		"Pro tip: Your best answer might be your second guess. Or third. Probably fourth.",
		"Tip: Don't worry about the scoreboard. It's mostly decorative anyway.",
		"Fact: The first webcam watched a coffee pot. Yours watches failure in HD.",
		"Tip: The best way to learn is to fail. A lot.",
		"Tip: Use 10% of your brain… and 90% sarcasm.",
		"Loading… Like your excuses when you get the obvious one wrong.",
		"Tip: Don't overthink it. That's how conspiracy theories happen.",
		"Tip: If you're both wrong, at least you're wrong together.",
		"Trivia: Goldfish have a longer attention span than most streamers.",
		"Tip: Remember, it's not about winning. It's about making others lose worse.",
		"Fact: 69% of statistics are made up.",
		"Quote: \"Knowledge is power. You are currently unarmed.\"",
		"Tip: If you're wondering who the weakest link is, it's probably you.",
		"Tip: Your brain isn't lagging. It's buffering… permanently.",
		"Quote: \"Behind every bad answer is a worse teammate encouraging it.\"",
		"Pro tip: It's not a mistake. It's a creative interpretation of ignorance.",
		"Tip: The only thing worse than a wrong answer is a wrong answer with confidence.",
		"Fun fact: Your team's strategy is called \"Hope and Cope.\"",
		"Pro tip: Crying won't help, but it will get you sympathy points.",
		"Tip: If you can't dazzle them with brilliance, baffle them with nonsense.",
		"Trivia: The average person has 7 dreams a night. Yours are all nightmares.",
		"Fun fact: Dr Pepper isn't actually a doctor. Dr Dre on the other hand&hellip;",
		"Fact: The great fire of London started with a bakery. So, if you smell bread, run.",
		"Fact: Microsoft was founded in Redmond, Washington. That's not relevant, I just thought it was interesting.",
		"Troubleshooting tip: If you see trouble, shoot it.",
		"Pro tip: Try answering from the heart. Or whatever's rotting in its place.",
	];
		const shuffledTips = shuffleArray(tips);

		const carouselInner = document.querySelector('#quoteCarousel .carousel-inner');
		shuffledTips.forEach((tip, index) => {
			const carouselItem = document.createElement('div');
			carouselItem.className = 'carousel-item' + (index === 0 ? ' active' : '');
			carouselItem.innerHTML = `<h4 class="quote-bar">${tip}</h4>`;
			carouselInner.appendChild(carouselItem);
		});

		const form = document.getElementById('form');
		const input = document.getElementById('input');
		const messages = document.querySelector('.chat-messages');

		form.addEventListener('submit', (e) => {
			e.preventDefault();
			if (input.value) {
				socket.emit('chat message', input.value, <%- JSON.stringify(user) %>);
				input.value = '';
			}
		});

	</script>
	<script src="/socket.io/socket.io.js"></script>
	<%- include('../helperFunctions'); %>
	<script>
	// Make sure .live-players accurately reflects the number of players waiting for the game to start
	setLivePlayersSpan(<%- JSON.stringify(game) %>);

	function setLivePlayersSpan(game) {
		let totalLivePlayers = 0;

		game.teams.forEach(team => {
			team.players.forEach(player => {
				if (player.inGame === game.code) {
					totalLivePlayers++;
				}
			});
		});

		const livePlayerSpan = document.querySelector(".live-players");
		livePlayerSpan.innerHTML = totalLivePlayers;
	}

	const socket = io({ query: { teamId: '<%= user.teamId %>' , role: '<%= user.role %>' } });

	<% if (chatLog) { chatLog.forEach((message) => { %> addChatMessage(".chat-messages", "<%- message %>");	<% }); } %>

	socket.on("update team name", (newTeamName, teamId) => {
		const teamNameElement = document.getElementById("team-" + teamId + "-name");
		teamNameElement.innerText = newTeamName;
	});
	socket.on("editing team name", (teamId, editing) => {
		const teamNameElement = document.getElementById("edit-team-name-button");
		if (editing) {
			teamNameElement.classList.add("text-danger");
		} else {
			teamNameElement.classList.remove("text-danger");
		}
	});

	socket.on('chat message', (msg) => {
		addChatMessage(".chat-messages", msg);
	});

	socket.on('player joined', (gameCode, user) => {
		if (gameCode === "<%- game.code %>") {
			const livePlayerCount = document.querySelector(".live-players");
			livePlayerCount.innerHTML = parseInt(livePlayerCount.innerHTML) + 1;

			const playerIcons = document.querySelectorAll("." + CSS.escape(user.displayName) + "-thumbnail");
			if (playerIcons) {
				playerIcons.forEach(playerIcon => {
					playerIcon.classList.remove("player-logged-out");
					playerIcon.classList.add("player-logged-in");
				})
			}
		}
	});

	socket.on('player left', (gameCode, user) => {
		if (gameCode === "<%- game.code %>") {
			const livePlayerCount = document.querySelector(".live-players");
			livePlayerCount.innerHTML = parseInt(livePlayerCount.innerHTML) - 1;

			// Check if recently left player is your teammate
			if (user.twitchId === "<%- user.teammate.twitchId %>") {
				const playerIcons = document.querySelectorAll("." + CSS.escape(user.displayName) + "-thumbnail");
				if (playerIcons) {
					playerIcons.forEach(playerIcon => {
						playerIcon.classList.remove("player-logged-in");
						playerIcon.classList.add("player-logged-out");
					})
				}
			}
		}
	});

	socket.on('start game', (gameCode) => {
		if (gameCode === "<%- game.code %>") {
			window.location.replace("/game/in-game");
		}
	});

	// Set the container in the header to be fluid
	$(".container").addClass("container-fluid");
	$(".container").removeClass("container");
	</script>
	<!-- <script src="js/ajaxFormHandler.js"></script> -->
<%- include('../footer'); %>