<%- include('../../header'); %>
	<section id="game-management" class="text-center">
		<header>
			<h1>Game: <%- game.code %></h1>
		</header>
		<% if(user.role == "admin"){ %>
			<% if (failureMessage) { %>
				<div class="container">
					<section>
						<div class="alert alert-danger" role="alert"><%= failureMessage %></div>
					</section>
				</div>
			<% } if (successMessage) { %>
				<div class="container">
					<section>
						<div class="alert alert-success" role="alert"><%= successMessage %></div>
					</section>
				</div>
			<% } %>

			<div class="row">
				
					<% game.teams.forEach(function(team) { %>
					<div class="col">
						<div class="row">
							<h2 id="team-<%- team.id %>-name"><%- team.name %></h2>
						<% team.players.forEach(function(player) { %>
							<div class="col">
								<figure class="mb-0">
									<img id="<%- player.displayName %>-thumbnail" 
									class="player-icon <% if (player.inGame === game.code) { %>player-logged-in<% } else { %>player-logged-out<% } %>" src="<%- player.profileImageUrl %>" width="150" alt="<%- player.displayName %>'s thumbnail">
									<figcaption><%- player.displayName %></figcaption>
								</figure>
							</div>
						<% }) %>
						</div>
						<div class="row">
							<h3>Chat</h3>
							<ul id="audit-<%- team._id %>" class="chat-audit chat-messages text-start"></ul>
						</div>
					</div>
					<% }) %>
				
			</div>
			<div class="row mt-3">
				<form method="POST">
					<div class="d-grid">
						<button type="submit" class="btn btn-lg btn-twitch btn-block">START GAME!</button>
					</div>
				</form>
			</div>
			<% } else { %>
			<h1 class="text-danger">You should not be here!</h1>
		<% } %>
	</section>
	<section class="audit">

	</section>
	<script src="/socket.io/socket.io.js"></script>
	<script>
	// Scroll all team chats to bottom
	$('textarea').each(function() {
		$(this).scrollTop($(this)[0].scrollHeight);
	});

	// const socket = io();
	const socket = io({ query: { teamId: '<%= user.teamId %>' , role: '<%= user.role %>' } });

	socket.on("update team name", (newTeamName, teamId) => {
		const teamNameElement = document.getElementById("team-" + teamId + "-name");
		teamNameElement.innerText = newTeamName;
	});

	socket.on('player joined', (gameCode, user) => {
		if (gameCode === "<%- game.code %>") {
			const playerIcon = document.getElementById(user.displayName + "-thumbnail");
			const teamContainer = playerIcon.parentElement.parentElement;
			playerIcon.classList.remove("player-logged-out");
			playerIcon.classList.add("player-logged-in");

			// socket.emit('player joined', gameCode, user);

			// // Use jquery to say "if both img inside col have class player-logged-in, then add class team-ready"
			// if ($(teamContainer).children(".player-logged-in").length == 2) {
			// 	$(teamContainer).addClass("team-ready");
			// }
		}

		// const item = document.createElement('li');
		// item.innerHTML = msg;
		// messages.appendChild(item);
		// window.scrollTo(0, document.body.scrollHeight);
	});

	socket.on('player left', (gameCode, user) => {
		if (gameCode === "<%- game.code %>") {
			const playerIcon = document.getElementById(user.displayName + "-thumbnail");

			playerIcon.classList.remove("player-logged-in");
			playerIcon.classList.add("player-logged-out");
		}
	});

	socket.on('chat message', (msg, room) => {
		const item = document.createElement('li');
		item.innerHTML = msg;

		const target = document.getElementById('audit-' + room);
		target.appendChild(item);

		// Scroll to bottom of chat
		target.scrollTop = target.scrollHeight;
	});

	// socket.on('player disconnected', (gameCode, user) => {
	// 	if (gameCode === "<%- game.code %>") {
	// 		const playerIcon = document.getElementById(user.displayName + "-thumbnail");
	// 		const teamContainer = playerIcon.parentElement.parentElement;
	// 		playerIcon.classList.add("player-logged-out");
	// 		playerIcon.classList.remove("player-logged-in");

	// 		socket.emit('player disconnected', gameCode, user);

			// // Use jquery to say "if both img inside col have class player-logged-in, then add class team-ready"
			// if ($(teamContainer).children(".player-logged-in").length == 2) {
			// 	$(teamContainer).addClass("team-ready");
			// }
		// }
		// const item = document.createElement('li');
		// item.innerHTML = msg;
		// messages.appendChild(item);
		// window.scrollTo(0, document.body.scrollHeight);
	// });
	</script>
	<script src="/js/gameTableFormHandler.js"></script>
<%- include('../../footer'); %>


